<div class="wrapper">
  @if (title) {
  <div fullwidthText>
    <h2 class="heading">{{ title }}</h2>
  </div>
  }

  <br />

  @if (selectedDate && !invalidDate) {
  <div fullwidthText>
    <span>{{ countdownString() }}</span>
  </div>
  }

  <app-quote />

  <div class="input-wrapper">
    <label class="label" for="title">Title</label>
    <input
      class="input"
      id="title"
      type="text"
      [(ngModel)]="title"
      (ngModelChange)="onTitleChange($event)"
    />
  </div>

  <div class="input-wrapper">
    <label class="label" for="selectedDate">Date</label>
    <input
      class="input"
      id="selectedDate"
      type="date"
      [(ngModel)]="selectedDate"
      (ngModelChange)="onDateChange($event)"
    />

    @if (invalidDate) {
    <p style="color: red">The selected date must be in the future.</p>
    }
  </div>
</div>
